<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/nav.css">
    <link rel="stylesheet" href="/src/public/css/footer.css">
    <link rel="stylesheet" href="/src/public/css/contactame.css">
    <title>Contactame</title>
</head>
<body>
    <header>
        <script src="/src/js/loadNav.js"></script>
    </header>
        <div class="fondo">
            
        <form class="formulario">

            <div class="titulo-parrafo">
                <h2 class="titulo-formulario">Contáctame</h2>
                <p class="parrafo-formulario">Déjame un mensaje y me pondré en contacto contigo a la brevedad.</p>    
            </div>

            <div class="formulario-input">

                <label class="label-formulario">
                    <input class="formilario-input" type="text" placeholder=" ">
                    <span class="texto-input">Ingresa tu nombre</span>
                </label>

                <label class="label-formulario">
                    <input class="formilario-input" type="email" placeholder=" ">
                    <span class="texto-input">Ingresa tu correo</span>
                </label>

                <label class="label-formulario">
                    <input class="formilario-input" type="email" placeholder=" ">
                    <span class="texto-input">Asunto</span>
                </label>

                <label class="label-textarea">
                    <textarea class="formulario-text-area" placeholder=" "></textarea>
                    <span class="texto-area">Esribe tu mensaje</span>
                </label>

            </div>

            <div class="enviar">
                <input class="submit-formulario" type="submit" value="Enviar" >
            </div>
        </form>
        </div>
        <footer>
            <script src="/src/js/loadFooter.js"></script>
        </footer>
    
    <script src="/src/js/nav.js"></script>
</body>
</html>