<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/nav.css">
    <link rel="stylesheet" href="/src/public/css/footer.css">
    <link rel="stylesheet" href="/src/public/css/proyectos.css">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <title>Proyectos</title>
</head>
<body>
    <header>
        <script src="/src/js/loadNav.js"></script>
    </header>

        <main>
            <div class="titulo">
                <h2>Proyectos</h2>
            </div>
            <section class="section-1">
                <div class="contenedor-section1">
                    <div class="contenedor-img">
                        <div class="card-container">
                            <div class="tres-puntos">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 7a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 7a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"/></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 7a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"/></svg>
                            </div>
    
                            <div class="container-img-desk">
                                <img src="/src/public/img/Auraderm-desk (1).png" alt="">
                            </div> 
                            
                            <div class="container-img-tablet">
                                <img src="/src/public/img/auraderm-tablet (1).png" alt="">

                                <div class="un-punto">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"><path fill="#ffffff" d="M12 7a5 5 0 1 1-4.995 5.217L7 12l.005-.217A5 5 0 0 1 12 7"/></svg>
        
                                </div>
                            </div>
                        </div>
                    <div class="informacion">
                        <h2>AuraDerm</h2>
                        <h4>Desarrollador web</h4>
                        <div class="link-navegacion">
                            <a href="https://github.com/isabel-moreno22/AuraDerm.git">ver</a>
                        </div>
                    </div>
                    </div>

                    
                </div>
            </section>
        </main>

    <footer>
        <script src="/src/js/loadFooter.js"></script>
    </footer>

    <script src="/src/js/nav.js"></script>
</body>
</html>