<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/public/css/nav.css">
    <link rel="stylesheet" href="/src/public/css/footer.css">
    <link rel="stylesheet" href="/src/public/css/sobre-mi.css">
    <title>Sobre Mi</title>
</head>
<body>
    <header>
        <script src="/src/js/loadNav.js"></script>
    </header>

    <main>

        <section class="contenedor-sobre-mi">
            <div class="titulo">
        
                <h2 class="titulo-sobre-mi">Sobre Mi</h2>
                <h1 class="sobre">sobre</h1>
            </div>
            <div class="contenedor-img-info">
                <div class="contenedor-tarjeta">
                    <div class="face tarjeta-frente">
                        <img src="/src/public/img/prueba.jpg" alt="">
                    </div>
                    <div class="face tarjeta-reverso">
                        <img src="/src/public/img/programar-2.webp" alt="">
                    </div>
                </div>
                <div   div class="informacion">
                    <p class="parrafo1">
                        Soy estudiante de tecnología en análisis y desarrollo de software, una carrera que elegí por mi pasión por los videojuegos y las páginas web visualmente llamativas. Esta curiosidad me llevó a explorar tutoriales en YouTube y, en 2023, decidí formalizar mi interés en la programación.
                    </p>

                    <p class="parrafo2">
                        A través de estos estudios, he aprendido a ver los videojuegos no solo como entretenimiento, sino como complejas obras de ingeniería. Este entendimiento también despertó mi interés en diseñar páginas web muy llamativas y únicas.
                    </p>

                    <p class="parrafo3">
                        Me motiva profundamente la idea de crear soluciones tecnológicas útiles para las personas. Disfruto del proceso de diseño y desarrollo de software, especialmente en la creación de páginas web llamativas con enfoques únicos.
                    </p>

                    <div class="cv">
                        <a href="https://drive.google.com/file/d/1bJBPQwjs_xIrYP72rfnmQ5bvndeZTstU/view">Mira Mi CV</a>
                    </div>
                </div>
            </div>
        </section>

    </main>


    <footer>
        <script src="/src/js/loadFooter.js"></script>
    </footer>
    
    <script src="/src/js/nav.js"></script>
</body>
</html>