*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 5% 0 0 0 ;
    font-size: 16px;
    color: white;

}

.contenedor-section1{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding: 5% 10%;
    justify-content: center;
}

.contenedor-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    width: 220px;
    height: 150px;
    border: 3px solid white;
    border-radius: 10px;
    position: relative;
    transition: 1s ease;
    cursor: pointer;
    
}

.card-container:hover{
    transform: rotate(3deg);
    
}

.tres-puntos{
    padding: 0 0 0 5%;
    background: linear-gradient(to right, rgb(37, 189, 161), rgb(118, 100, 185));
    border-radius: 5px 5px 0 0;
}

.tres-puntos svg{
    width: 15px;
    height: 15px;
}

.container-img-desk{
    width: 100%;
    height: 87%;
}
.container-img-desk img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-img-tablet{
    width: 80px;
    height:110px;
    border: 4px solid white;
    border-radius: 10px;
    position: absolute;
    top: 38px;
    left: 160px;
    background: linear-gradient(to right, rgb(37, 189, 161), rgb(118, 100, 185));

}

.container-img-tablet img{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
   
}

.un-punto{
    background: linear-gradient(to right, rgb(37, 189, 161), rgb(118, 100, 185));
    border-radius: 0 0 5px 5px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.un-punto svg{
    width: 14px;
    height: 14px;
}

.informacion{
    padding: 5% 0 0 0 ;
    text-align: center;
}

.informacion h2{
    color: white;
    font-style:inherit;
    padding: 0 5% 0 0 ;
}

.informacion h4{
    padding: 2% 0 0 0 ;
    color: white;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
}

.link-navegacion{
    margin: 5% 0;
    display: flex;
    justify-content: center;
   
}

.link-navegacion a{
    width: 40%;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 1% 10%;
    display: flex;
    justify-content: center;
    text-align: center; 

}

.link-navegacion a:hover {
    background-color: rgb(37, 189, 161);
    box-shadow: 0 6px 20px rgba(37, 189, 161, 0.9);
    scale: 1.2;
}




